{
  "openapi": "3.0.1",
  "info": {
    "title": "Api gateway",
    "description": "Api gateway",
    "version": ""
  },
  "servers": [
    {
      "url": "https://apex-migration.driivz.com:8103/api-gateway",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Fiscalization",
      "description": "Fiscalization API"
    }
  ],
  "paths": {
    "/v1/topologies/{id}": {
      "get": {
        "tags": [
          "Topologies"
        ],
        "summary": "Get topology details",
        "description": "Gets details of a topology using the topology ID",
        "operationId": "getTopology",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ddfc43b8-ed24-11ee-b95a-0242ac190002"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopologyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "YHyhxvYKnn",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "9HhzoOAG9x",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "AxBEkP6g90",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      },
      "put": {
        "tags": [
          "Topologies"
        ],
        "summary": "Update topology",
        "description": "Update topology",
        "operationId": "updateTopology",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ddfc43b8-ed24-11ee-b95a-0242ac190002"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTopologyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopologyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "6SAkLbDvc5",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "eQXpu6CFRm",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "8Y8XtQ8poU",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Topologies"
        ],
        "summary": "Delete topology",
        "description": "Deletes a topology",
        "operationId": "deleteTopology",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ddfc43b8-ed24-11ee-b95a-0242ac190002"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopologyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "nxfqtteyPR",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "yAscoVDSlh",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "PYrqLQ16LO",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/customer-plans/{planCode}/tariffs/charger-groups/{chargerGroupId}": {
      "get": {
        "tags": [
          "Customer Plan Tariffs"
        ],
        "summary": "Get plan tariff details for specific charger group",
        "description": "Gets the tariff details for a specific charger group and customer plan",
        "operationId": "getBillingPlanGroupTariffsByCode",
        "parameters": [
          {
            "name": "planCode",
            "in": "path",
            "description": "Plan Code",
            "required": true,
            "schema": {
              "pattern": "[A-Za-z0-9.\\-_\\s]+",
              "type": "string"
            },
            "example": "PlanCode"
          },
          {
            "name": "chargerGroupId",
            "in": "path",
            "description": "Charger group id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 12
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanTariffsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValidationResponse"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "PVUfxSwDL5",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "lB1axuA7tI",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "IPbzk9NNtK",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      },
      "put": {
        "tags": [
          "Customer Plan Tariffs"
        ],
        "summary": "Update plan tariff details for specific charger group",
        "description": "Updates the tariff details for a specific charger group and customer plan",
        "operationId": "updatePlanGroupTariffsByCode",
        "parameters": [
          {
            "name": "planCode",
            "in": "path",
            "description": "Plan Code",
            "required": true,
            "schema": {
              "pattern": "[A-Za-z0-9.\\-_\\s]+",
              "type": "string"
            },
            "example": "PlanCode"
          },
          {
            "name": "chargerGroupId",
            "in": "path",
            "description": "groupId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 12
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanTariffsUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutPlanTariffsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/DayOfWeekTariffValidationResponse"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "9NNBzMs4Tx",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "3mGVm4ETKG",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "44z2oyoA7m",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/customer-plans/{planCode}/tariffs/charger-groups/all": {
      "get": {
        "tags": [
          "Customer Plan Tariffs"
        ],
        "summary": "Get plan tariff details for all charger groups",
        "description": "Gets the tariff details for all charger groups with a specific customer plan",
        "operationId": "getBillingPlanTariffsForAllGroupsByCode",
        "parameters": [
          {
            "name": "planCode",
            "in": "path",
            "description": "Plan Code",
            "required": true,
            "schema": {
              "pattern": "[A-Za-z0-9.\\-_\\s]+",
              "type": "string"
            },
            "example": "PlanCode"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanTariffsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValidationResponse"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "ESKx5TdEB4",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "ZBvO5sTbW6",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "nqFwJNd85d",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      },
      "put": {
        "tags": [
          "Customer Plan Tariffs"
        ],
        "summary": "Update plan tariff details for all charger groups",
        "description": "Updates the tariff details for all charger groups with a specific customer plan",
        "operationId": "updatePlanGroupTariffsByCode_1",
        "parameters": [
          {
            "name": "planCode",
            "in": "path",
            "description": "Plan Code",
            "required": true,
            "schema": {
              "pattern": "[A-Za-z0-9.\\-_\\s]+",
              "type": "string"
            },
            "example": "PlanCode"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanTariffsUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutPlanTariffsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValidationResponse"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "KVgrN01x4R",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "7jdjW6Bcyp",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "Jl7ZD3jaGQ",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/vehicles": {
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Add vehicle",
        "description": "Adds a vehicle",
        "operationId": "addVehicle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValidationResponse"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "BSij4REZm4",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "y6IKcSA2hh",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "DmFLkBBr0B",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/vehicles/filter": {
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Find vehicles",
        "description": "Finds vehicles using filters such as the family ID and owner account number",
        "operationId": "getVehiclesByFilter",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": 20
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": 0
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "id:asc"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValidationResponse"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "m6TKyEJF3i",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "VZ4aeM9QLS",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "1pcgAzc3Qn",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/vehicle/vid-block-list": {
      "post": {
        "tags": [
          "VIDs"
        ],
        "summary": "Update blocked VID numbers",
        "description": "Update blocked VID numbers",
        "operationId": "updateBlockedVidNumbers",
        "parameters": [
          {
            "name": "vid",
            "in": "query",
            "description": "VID number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VidResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "fqBRzsbeRt",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "yovnhQAYjU",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "0wydblEDrU",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/vehicle-models": {
      "post": {
        "tags": [
          "Vehicle Models"
        ],
        "summary": "Add vehicle model",
        "description": "Adds a vehicle model",
        "operationId": "addVehicleModel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleModelCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ConnectorTypesResponse"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "wm1NYtvGAw",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "QhJp7PTIJf",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "TDfizbbOTM",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/vehicle-models/filter": {
      "post": {
        "tags": [
          "Vehicle Models"
        ],
        "summary": "Finds vehicle models",
        "description": "Finds vehicle models using filters such as the manufacturer ID and model name",
        "operationId": "filterVehicleModel",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": 20
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": 0
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "id:asc"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleModelFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValidationResponse"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "RjC2YXYv9f",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "iW51YtJSD6",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "rZqwzJE2cH",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/vehicle-manufacturers": {
      "post": {
        "tags": [
          "Vehicle Manufacturers"
        ],
        "summary": "Add vehicle manufacturer",
        "description": "Adds a vehicle manufacturer",
        "operationId": "createVehicleManufacturer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleManufacturerCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleManufacturerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValidationResponse"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "YoN1nXGrZC",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "8QwTA4475Q",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "R2u1HItDPx",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/vehicle-manufacturers/filter": {
      "post": {
        "tags": [
          "Vehicle Manufacturers"
        ],
        "summary": "Find vehicle manufacturers",
        "description": "Finds vehicle manufacturers using filters such as the manufacturer name and manufacturer code",
        "operationId": "filterVehicleManufacturer",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": 20
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": 0
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "id:asc"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleManufacturerFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleManufacturerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValidationResponse"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "nNaUeHNiTG",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "xpfUIzqWlU",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "ca8jXoS6bQ",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/vdas": {
      "post": {
        "tags": [
          "VDA"
        ],
        "summary": "Create a vda",
        "description": "Create a vda",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VdaCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VdaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValidationResponse"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "7ejeEHhMS1",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "A3u93nc0dC",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "VL6kLapSeV",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/vdas/filter": {
      "post": {
        "tags": [
          "VDA"
        ],
        "summary": "Find vdas",
        "description": "Find vdas based on a given filter",
        "operationId": "filterVda",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": 20
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": 0
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "id:asc"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VdaFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VdaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValidationResponse"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "shLhFibnYp",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "lg4ZOK844X",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "eH77ast4jw",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/vdas/delete": {
      "post": {
        "tags": [
          "VDA"
        ],
        "summary": "Delete vdas by ids",
        "description": "Deletes vdas by ids",
        "operationId": "delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VdaDelete"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "YKyGRafK5G",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "XbqcHC0eGk",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "UFWVuUQ7kU",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/vdas-attachment": {
      "post": {
        "tags": [
          "VDA-Attachment"
        ],
        "summary": "Create a vda attachment",
        "description": "Create a vda attachment",
        "operationId": "create_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VdaAttachmentCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VdaAttachmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ConfigurationValidationResponse"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "VpdH5CSnOq",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "bu0tHiSntw",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "ccrq1rG8KT",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/vdas-attachment/filter": {
      "post": {
        "tags": [
          "VDA-Attachment"
        ],
        "summary": "Find vdas by vda attachment properties",
        "description": "Find vdas based on a given filter",
        "operationId": "filterVdaAttachment",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": 20
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": 0
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "id:asc"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VdaAttachmentFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VdaAttachmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValidationResponse"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "6P1IkzQdaN",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "XwY4xFUnfs",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "OIIkQuYFl6",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/vdas-attachment/delete": {
      "post": {
        "tags": [
          "VDA-Attachment"
        ],
        "summary": "Delete vda attachments by ids",
        "description": "Deletes vda attachments by ids",
        "operationId": "delete_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VdaAttachmentDelete"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "xcg6mUSrDg",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "vM9x6W46z1",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "eLmAB6XcT1",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/utility-tariffs": {
      "post": {
        "tags": [
          "Utility Tariffs"
        ],
        "summary": "Create utility tariff",
        "description": "Creates utility tariff for all existing currencies",
        "operationId": "createUtilityTariff",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UtilityTariffCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtilityTariffResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "llfo376OZM",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "xYzUdeB0Vz",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "8gaS0XdF3w",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/utility-tariffs/time-ranges": {
      "post": {
        "tags": [
          "Utility Tariffs"
        ],
        "summary": "Create utility tariff time ranges",
        "description": "Creates utility tariff time ranges",
        "operationId": "createUtilityTariffTimeRanges",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UtilityTariffTimeRangeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtilityTariffTimeRangesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "0jLmJbgkdl",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "voXlUZPsKw",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "aPUdxPY2C8",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Utility Tariffs"
        ],
        "summary": "Update utility tariff time ranges",
        "description": "Update utility tariff time ranges",
        "operationId": "updateUtilityTariffTimeRanges",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UtilityTariffTimeRangeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "YM7XcAdLqg",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "zAmiwGSUS7",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "a8EEjVNBQj",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/utility-tariffs/time-ranges/filter": {
      "post": {
        "tags": [
          "Utility Tariffs"
        ],
        "summary": "Find utility tariffs time ranges by filter",
        "description": "Finds utility tariffs time ranges using filters such as the utility company code and billing currency ID",
        "operationId": "filter",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": 20
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": 0
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "id:asc"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UtilityTariffTimeRangeFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValidationResponse"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "anfijmPJbU",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "FGlmFPBKvo",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "JFImIqQGyc",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/utility-tariffs/filter": {
      "post": {
        "tags": [
          "Utility Tariffs"
        ],
        "summary": "Find utility tariffs",
        "description": "Finds utility tariffs using filters such as the utility company ID and the external ID of the utility company",
        "operationId": "filter_1",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": 20
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": 0
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "id:asc"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UtilityTariffFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtilityTariffResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValidationResponse"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "czzdPt60aT",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "Yr4gwAkKhM",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "uJjhH3uEZz",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      }
    },
    "/v1/topologies": {
      "get": {
        "tags": [
          "Topologies"
        ],
        "summary": "Get all topologies",
        "description": "Get all topologies",
        "operationId": "getTopologies",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": 20
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": 0
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "id:asc"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TopologiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FieldValidationResponse"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "nIifqYrepO",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "UbeEigWM22",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
                      "reason": "billing.transaction.not.found",
                      "message": "Billing transaction not found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "dl469qD4Kg",
                  "code": "api-gateway-500",
                  "reason": "internal.error",
                  "message": "Unknown error",
                  "httpStatusCode": 500,
                  "errors": [
                    {
                      "code": "api-gateway-500",
                      "reason": "internal.error",
                      "message": "Unknown error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "dmsTicket": []
          }
        ]
      },
      "post": {
        "tags": [
          "Topologies"
        ],
        "summary": "Create topology",
        "description": "Creates a Topology",
        "operationId": "createTopology",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTopologyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TopologyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "Qy96wASOec",
                  "code": "api-gateway-403",
                  "reason": "invalid.ticket",
                  "message": "Invalid ticket",
                  "httpStatusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "example": {
                  "requestId": "HAyKeIHVpt",
                  "code": "api-gateway-404",
                  "reason": "entity.not.found",
                  "message": "Entity not found",
                  "httpStatusCode": 404,
                  "errors": [
                    {
                      "code": "api-gateway-404",
[...]
